*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
p,li{
    font-family: "Poppins", sans-serif;
}


h1,h2,h3,h4{
    font-family: 'Lato',sans-serif;
}
.y{
    border: 1px solid red;
}
header{
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
}
.float-container{
   margin-right: 15px;
}
@media screen and (min-width:768px) {
    .float-container{
        float: left;
        clear: both;
    }
}
.header-top-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#18496b;;
}
.header-bottom-container{
  height: 100%;
  overflow: auto;
}
@media screen and (min-width:768px) {
    .header-bottom-container{
        height:100px;
        overflow: hidden;
    
    }
}
.flex-row-container{
    display: flex;
    flex-direction: row;
    align-items:last baseline;

}
.header-content{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
}
.hamburger-btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: blue;
}
.header-social-icons{
    display: flex;
    justify-content: center;
}
@media  screen and (min-width:768px) {
    .header-social-icons{
        justify-content: end;
    }
}
.website-logo{
    width: 100%;
    height: 100%
}
.small-devices-ul-list{
    height: 300px;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 36px;
}
.small-devices-ul-list li{
    font-size: 14px;
    font-weight: 550;
    color: #262f36;
    border-bottom: 1px solid #262f36;
}
.small-devices-ul-list p{
    font-size: 14px;
    font-weight: 400;
    color: #262f36;
}

@media screen and (min-width:768px) {
    .small-devices-ul-list{
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .small-devices-ul-list li{
        border-bottom: none;
    }
}
.dropdown-btn{
    height: 14px;
    width: 14px;

}
.dropdown-container{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:first baseline;
}
.services-dropdown-container, .large-services-dropdown-container{
    list-style: none;
    padding: 15px;
    margin: 0;
    line-height: 36px;
    background-color: #222222;
}
.services-dropdown-container li, .large-services-dropdown-container li{
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.services-dropdown-container li:hover, .large-services-dropdown-container li:hover{
    color:#006DB7;
    transform: translateX(5px);
}
.services-hover-container{
    position: relative;
    display: inline-block;
}
.large-services-dropdown-container{
    display: none;
    position: fixed;
}

.services-hover-container:hover .large-services-dropdown-container{display: block;z-index: 1;}

.carousel{
    margin: 10px;
}
.carousel button{
    background-color:gray;
    height: 20px;
    width: 20px;
    align-self:center;
    margin: 15px;
    border-radius: 10px;
}

.carousel  .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    height: 15px;
    width: 15px;
}
.carousel .carousel-control-prev-icon{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='2' width='4.25' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23FFFFFF' d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
}
.carousel .carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='2' width='4.25' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23FFFFFF' d='M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z'/%3E%3C/svg%3E");
}
.active-slide{
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (min-width:768px) {
    .active-slide{
        height: 500px;
    }
}
.slide-content-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
.active-slide h1{
    font-size: 18px;
    font-weight: bolder;
    color: #006DB7;
}
.active-slide p{
    font-size: 18px;
    font-weight: 500;
    color: #222222;
}
.active-slide button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    align-self: flex-start;
    margin: 0;
    background-color: #002147;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}
.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description-container h1{
    line-height: 1.2;
    font-family: 'Lato',sans-serif;
    font-size: 26px;
    color: white;
    text-align: center;
    font-weight: bolder;
    color: #030303;
}
.description-container p{
    font-size: 13px;
    font-weight: 500;
    color:#000;
    text-align: left;
    line-height: 2;
    margin: 10px 0px 10px 10px;
}


.services-section{
    background-image: url("https://res.cloudinary.com/dlwydxzdi/image/upload/v1713008725/BusinessApp/bg1_qlrfcp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.services-container{
height: 100%;
background:rgba(10, 10, 10, 0.8);
}

.services-container .card{
    background: white;
   
}


.form-input-container{
    display: flex;
    flex-direction:row;
    justify-content:end;
    align-items:first baseline;
}
.home-form-input{
    width: 100%;
    height: 40px;
    font-family: 'Poppins';
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid gray;
    margin-left: 10px;
    padding: 10px;
}


.services-container .card{
    width: 90%;
    height: 500px;
}

.card-img-top{
    height: 200px;
}
.card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card .card-title{
    color: #313c45;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin:10px 0px 10px 0px;
}
.card .card-text{
    font-size: 13px;
    line-height: 2;
}
.card button{
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: #006db7;
 
}

.bg-container{
    margin-top: 50px;
    height: 100%;
    background-image: url("https://res.cloudinary.com/dlwydxzdi/image/upload/v1717671922/BusinessApp/employee_pxxrmx.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
}
.stats-main-container{

    padding: 75px 0px 70px 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .70);
}
.stats-container{
    margin-top: 75px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats-container i{
    font-size: 36px;
    margin-bottom: 20px;
}
.stats-container h1{
    font-size: 24px;
    font-weight: bolder;
}
.stats-container h1::after{
    content: "+";
}
.stats-container p{
    font-size: 14px;
    font-weight: bold;
}


.process-container{
    margin-top: 25px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process-container button{
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #c1c4c7;
    display: inline-block;
    color: #006DB7;
    padding-bottom: 10px;
    font-size: 40px;
}
.process-container h1{
    margin: 10px 0px 10px 0px;
    color: #000;
    font-size: 17px;
    font-weight: bold;
}

.process-container p{
    font-size: 13px;
    text-align: left;
}
.process-container button:hover{
    background-color: #006DB7;
    color: #fff;
}

.faq-container{
    padding:25px 0px 25px 0px;
    background-color:#18496b;
    height: auto;
}


.faq-container .accordion-item{
    width: 98%;
    margin-bottom: 5px;
}

.faq-container .accordion-body p{
    font-size: 13px;
    color: #000;
}

.faq-container .accordion-button{
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    box-shadow: none;
    
}
.faq-container .accordion-button:focus{
    box-shadow: none;
}


.faq-container .accordion-button::after{
    transform: rotate(-0.25turn);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='6' width='8.75' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z'/%3E%3C/svg%3E");
}

.faq-container .accordion-button:not(.collapsed){
  color: #006DB7;
  background-color: transparent;
  box-shadow: none;


}


.faq-container .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='6' width='8.75' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
    transform: var(--bs-accordion-btn-icon-transform);
    color: red;
}





.footer-container{
    background-color: #1b2c3e;
    padding-top: 20px;
}
.footer-heading{
    font-size: 16px;
color: #ffff00;
font-weight: 500;
}
.footer-description{
    font-size: 13px;
    color: white;
    line-height: 30px;
    text-align: justify;
}
.footer-ul-list{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 36px;
}
.footer-list-item{
   height: 30px;
}
.quick-links-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: first baseline;
}
.quick-link{
    margin-left: 5px;
}
.quick-link:hover{
    color:#006DB7;
    transform: translateX(5px);
}
.copyright-container{
    background-color: #172737;
}
.z{
    white-space: nowrap;
}