.about-us-banner-container{
    background-image: url("https://res.cloudinary.com/dlwydxzdi/image/upload/v1713090716/BusinessApp/Fleet/2_mk8tu9.jpg");
}
.car-img-container{
    height: 100%;
    box-shadow: 1px 1px 1px 2px #d0cfcf;
}